/* .app-header {
    height: 60px;
    line-height: 60px;
}

.app-header--title {
    height: 50px;
    margin: 0px -10px 10px;
    border-radius: 2px;
    background-color: #062d56;
    color: white;
    text-align: center;
    padding-top: 30px;
}

.app-header .app-header--title {
    font-size: 22px;
    padding-left: 5px;
}

.app-body {
    background-color: #2a7ed895;
    height: 100px;
    margin: 0px -10px 10px;
} */